<!DOCTYPE html>
<html>
<head>
  <title>Platform</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if user_signed_in? %>
	<img src="<%= current_user.image %>"/>
	Olá, <%= current_user.name %>!
	<br/><br/>
	<strong>Minha cidade:</strong> <%= current_user.location %>
	<br/> <br/>
	<strong>Lista de amigos:</strong> <br/>
	<% facebook_user.friends.each do |friend| %>
		<%= friend.name %> <br/>
	<% end %>
<% else %>
	<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
<% end %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
